<form
  #warehouseForm="ngForm"
  (keydown)="onKeydown($event, warehouseForm)"
  (ngSubmit)="parseWarehouseData()"
  novalidate
>
  <div class="form-group">
    <label for="warehouse-data">Warehouse Data</label>
    <textarea
      *ngIf="editing"
      [(ngModel)]="warehouseInput"
      name="name"
      rows="5"
      cols="50"
      name="warehouse"
      class="form-control"
      id="warehouse-data"
      #warehouseDataEl="ngModel"
      autofocus
    ></textarea>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [class.btn-secondary]="warehouseForm.invalid"
    [disabled]="warehouseForm.invalid"
  >
    Confirm Warehouse Data
  </button>
</form>
