@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

.view {
  min-height: 100px;
  max-height: 500px;
  overflow-y: scroll;
}

.gray-bg {
  background: rgba(86, 61, 124, 0.15);
}

.clickable {
  cursor: pointer;
}
