<form
  #poForm="ngForm"
  (keydown)="onKeydown($event, poForm)"
  (ngSubmit)="onSubmit()"
  novalidate
>
  <div class="form-group">
    <label for="po-address" class="required">Purchase Order Address</label>
    <textarea
      id="po-address"
      [(ngModel)]="purchaseOrderAddressInput"
      rows="3"
      cols="50"
      name="purchaseOrderAddress"
      class="form-control"
      required="true"
    ></textarea>
    <label for="po-data" class="required">Purchase Order Data</label>
    <textarea
      id="po-data"
      [(ngModel)]="purchaseOrderDataInput"
      name="name"
      rows="5"
      cols="50"
      name="purchaseOrder"
      class="form-control"
      required="true"
      #purchaseOrderEl="ngModel"
    ></textarea>
  </div>

  <button
    type="submit"
    class="btn mr-2 mb-2"
    [class.btn-primary]="!poForm.invalid"
    [class.btn-secondary]="poForm.invalid"
    [disabled]="poForm.invalid"
  >
    Add PO to Set
  </button>
  <button type="button" class="btn btn-danger mb-2 mr-2" (click)="onCancel()">
    Cancel
  </button>
  <div *ngIf="poSetAllItemsAndQuant">
    <ul>
      <li *ngFor="let sku of poSetAllItemsAndQuant | keyvalue">
        {{ sku.key }}: {{ sku.value || '' }}
      </li>
    </ul>
  </div>
</form>
