<form
  #poForm="ngForm"
  (keydown)="onKeydown($event, poForm)"
  (ngSubmit)="parsePurchaseOrderData()"
  novalidate
>
  <div class="form-group">
    <label>Purchase Order Address</label>
    <textarea
      [(ngModel)]="purchaseOrderAddressInput"
      rows="3"
      cols="50"
      name="purchaseOrderAddress"
      class="form-control"
      required
    ></textarea>
    <label for="po-data">Purchase Order Data</label>
    <textarea
      [(ngModel)]="purchaseOrderDataInput"
      name="name"
      rows="5"
      cols="50"
      name="purchaseOrder"
      class="form-control"
      id="po-data"
      required
      #purchaseOrderEl="ngModel"
    ></textarea>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [class.btn-secondary]="poForm.invalid"
    [disabled]="poForm.invalid"
  >
    Add PO to Set
  </button>
  <div *ngIf="poSetAllItemsAndQuant">
    <ul>
      <li *ngFor="let sku of poSetAllItemsAndQuant | keyvalue">
        {{ sku.key }}: {{ sku.value || '' }}
      </li>
    </ul>
  </div>
</form>
