$hf-green: #008752;

header {
  background-color: $hf-green !important;
  // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

  img {
    height: 4rem;
  }
}

.po-table {
  border-left-width: 10px !important;
  border-top-width: 10px !important;
}
