<router-outlet></router-outlet>

<div class="container-fluid">
  <h1>PO Form</h1>
  <form
    #warehouseForm="ngForm"
    (keydown)="onKeydown($event, warehouseForm)"
    (ngSubmit)="parseWarehouseData()"
  >
    <div class="form-group row">
      <div class="col-6">
        <label for="warehouse-data">Warehouse Data</label>
        <textarea
          [(ngModel)]="warehouseInput"
          name="name"
          rows="5"
          cols="50"
          name="warehouse"
          class="form-control"
          id="warehouse-data"
          #warehouseDataEl
        ></textarea>
        <pre>{{ warehouseDataEl.value | json }}</pre>
        <br />

        <div class="d-flex p-2 result">
          {{ 'Total Quantity Available: ' + (warehouseTotalAvailable || 0) }}
        </div>
      </div>
      <div class="col-6 json">
        Preview:<br />
        <ul>
          <li *ngFor="let item of newWarehouseDataPreview | keyvalue">
            <b>{{ item.key }}:</b>
            <ul>
              <li *ngFor="let lot of item.value">
                Lot {{ lot.lotId }}: {{ lot.availableQty }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">
      Confirm Warehouse Data
    </button>
  </form>

  <hr />

  <form
    #poForm="ngForm"
    (keydown)="onKeydown($event, poForm)"
    (ngSubmit)="addOrderToSet()"
    novalidate
  >
    <div class="form-group row">
      <div class="col-6">
        <label>Purchase Order Address</label>
        <textarea
          [(ngModel)]="purchaseOrderAddressInput"
          rows="3"
          cols="50"
          name="purchaseOrderAddress"
          class="form-control"
          required
        ></textarea>
        <label for="po-data">Purchase Order Data</label>
        <textarea
          [(ngModel)]="purchaseOrderDataInput"
          name="name"
          rows="5"
          cols="50"
          name="purchaseOrder"
          class="form-control"
          id="po-data"
          required
          #purchaseOrderEl
        ></textarea>
      </div>
      <div class="col-6 json">
        <pre>{{ purchaseOrderPreview | json }}</pre>
        <table
          *ngFor="let po of poSet.orders"
          class="table table-bordered table-striped"
        >
          <thead class="thead-dark">
            <tr>
              <th>
                Ship to:<br />
                {{ po.shipTo }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let line of po.lines | keyvalue: lineNumberOrder">
              <td>
                <b>Line:&nbsp;</b>{{ line.value.line || 'N/A' }}<br />
                <b>Our SKU:&nbsp;</b>{{ line.value.itemSku || 'N/A' }}<br />
                {{ line.value.description }}<br />
                <b>Unit Price:&nbsp;</b
                >{{ (line.value.unitPrice | currency) || 'N/A' }}<br />
                <b>Quantity:&nbsp;</b>{{ line.value.quantity || 'N/A' }}<br />
                <b>Unit:&nbsp;</b>{{ line.value.unit || 'N/A' }}<br />
                <b>Total:&nbsp;</b
                >{{ (line.value.itemTotal | currency) || 'N/A' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">
      Add PO to Set
    </button>
    <div *ngIf="poSetAllItemsAndQuant">
      <ul>
        <li *ngFor="let sku of poSetAllItemsAndQuant | keyvalue">
          {{ sku.key }}: {{ sku.value || '' }}
        </li>
      </ul>
    </div>
  </form>

  <hr />
  <button
    type="button"
    class="btn btn-success"
    (click)="getOutboundQtyPerLot()"
  >
    Auto select lot
  </button>

  <div class="row">
    <div class="col-6">
      <h4>Result</h4>
      <div *ngFor="let sku of outboundResult | keyvalue">
        <b>Item {{ sku.key }}:</b>
        <ul>
          <li *ngFor="let lot of sku.value.qtyPerLot | keyvalue">
            Taken from Lot {{ lot.key }}: {{ lot.value }}
          </li>
          <li *ngIf="sku.value.remaining > 0" class="text-danger">
            <strong
              >This SKU still needs {{ sku.value.remaining }} more
              {{ sku.value.remaining === 1 ? 'item' : 'items' }}</strong
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6" *ngIf="outboundResult">
      <h4>Excel-friendly View</h4>
      <code>
        <div *ngFor="let sku of outboundResult | keyvalue">
          <div
            *ngFor="let lot of sku.value.qtyPerLot | keyvalue"
            [class.text-success]="sku.value.remaining === 0"
          >
            {{ sku.key }},{{ lot.key }},{{ lot.value }}
          </div>
        </div>
      </code>
    </div>
  </div>
</div>
